#container{
    width: 70%;
    margin: 0 auto;
    margin-top: 2vw;
}

#container img{
    width: 25vw;
    display: inline;
    position: relative;
}

#container h2{
    /* text-transform: uppercase; */
    font-size: 3vw;
    font-weight: 300;
    margin-top: 0;
    display: inline;
    position: absolute;
}

#container p{
    display: inline;
    position: absolute;
    margin-right: 15%;
    font-size: 1vw;
    line-height: 1.5vw;
    font-weight: 200;
    margin-top: 5vw;
}

#container h2, #container p{
    margin-left: 4vw;
}

#contact input{
    display: block;
    margin-left: 4vw;
    margin-bottom: 2vw;
}

#contact{
    margin-top: 10vw;
    position: absolute;
}

input,
textarea {
  background: none;
  color: black;
  font-size: 0.8vw;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 20vw;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
input:focus,
textarea:focus {
  outline: none;
}



