#shop{
    width: 70%;
    margin: 0 auto;
    /* margin-top: 4vw; */
    color: black;
    display: flex;
    text-align: center;
}

table{
    margin: 0 auto;
    margin-bottom: 3vw;
}

table img{
    width: 20vw;
    padding: 1vw;
}

td, tr, p{
    padding: 0;
    margin: 0;
}

p{
    padding-bottom: 0.5vw;
}

span{
    font-weight: 600;
}

h2{
    /* text-align: center; */
    margin-top: 4vw;
    font-size: 3vw;
    margin-left: 17.7%;
    font-weight: 400;
}